Repository origincreativegroup/MindForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, prettier, check-yaml

.pre-commit-config.yaml:

repos:
  # Python code quality
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: ruff check --fix
        language: system
        files: \.py$
        pass_filenames: true
        
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        files: \.py$
        pass_filenames: true

  # JavaScript/TypeScript code quality
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd apps/frontend && pnpm lint:fix'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Code formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd apps/frontend && pnpm format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md|yml|yaml)$
        pass_filenames: false

  # Basic checks
  - repo: local
    hooks:
      - id: check-yaml
        name: Check Yaml
        entry: python -c "import yaml; import sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
        language: system
        files: \.ya?ml$

Add startup script for macOS app
  startup.sh
Due: none

fix: proper poetry dependencies
  pyproject.toml
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier, check-yaml

update
  apps/backend/schemas/__init__.py
  apps/backend/services/collaboration.py
  pnpm-lock.yaml
  poetry.lock
  pyproject.toml
Due: ruff-check, ruff-format, prettier, check-yaml

Fix creative router tests and provide minimal database and schema implementations
  apps/backend/db.py
  apps/backend/schemas/__init__.py
  test_creative_router.py
Due: ruff-check, ruff-format

fix: correct poetry package-mode placement
  pyproject.toml
Due: none

fix failing tests and add placeholders
  apps/backend/services/advanced_analyzer.py
  apps/backend/services/collaboration.py
  apps/backend/services/creative_analyzer.py
  apps/backend/services/models.py
  apps/backend/services/project_questioner.py
Due: ruff-check, ruff-format

feat: add locale-based redirect
  apps/frontend/index.html
Due: none

fix: remove outdated pnpm lockfile
  apps/frontend/index.html
  pnpm-lock.yaml
Due: prettier, check-yaml

fix: remove duplicate default export
  apps/frontend/src/App.jsx
Due: eslint, prettier

feat(frontend): introduce CaseyAi responsive dashboard
  apps/frontend/src/App.jsx
  apps/frontend/src/components/CaseyAi.jsx
Due: eslint, prettier

feat: unify dashboards and add Casey chat
  apps/frontend/src/components/BusinessDashboard.jsx
  apps/frontend/src/components/CaseyAi.jsx
Due: eslint, prettier

feat: connect chat to backend
  apps/frontend/src/components/CaseyAi.jsx
Due: eslint, prettier

Update models.py
  apps/backend/services/models.py
Due: ruff-check, ruff-format

feat: support postgres via database url
  README.md
  apps/backend/db.py
  apps/backend/init_creative_database.py
  apps/backend/routers/conversations.py
  apps/backend/services/uploads.py
  packages/integrations/database.py
  packages/integrations/vercel_storage.py
Due: ruff-check, ruff-format, prettier

Fix chat streaming and lighten UI theme
  apps/backend/app.py
  apps/backend/static/styles.css
  apps/backend/templates/casey.html
  apps/backend/templates/chat.html
Due: ruff-check, ruff-format, prettier
