Repository origincreativegroup/MindForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, prettier, check-yaml

ruff-check:
  name: ruff check
  entry: ruff check --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff format
  entry: ruff format
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd apps/frontend && pnpm lint:fix'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd apps/frontend && pnpm format'
  language: system
  pass_filenames: false

check-yaml:
  name: Check Yaml
  entry: python -c "import yaml; import sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system

fix: correct backend imports and makefile
  Makefile
  apps/backend/app.py
  apps/backend/database.py
  apps/backend/db.py
  apps/backend/routers/skills.py
  apps/backend/services/skill_matrix.py
Due: ruff-check, ruff-format

chore: resolve merge conflicts
  README.md
Due: prettier

feat: add minimal YAML parser fallback
  apps/backend/pdl/parser.py
Due: ruff-check, ruff-format

Update db.py
  apps/backend/db.py
Due: ruff-check, ruff-format

Update skill_matrix.py
  apps/backend/services/skill_matrix.py
Due: ruff-check, ruff-format

Update skills.py
  apps/backend/routers/skills.py
Due: ruff-check, ruff-format

Update middleware.py
  apps/backend/middleware.py
Due: ruff-check, ruff-format

Update app.py
  apps/backend/app.py
Due: ruff-check, ruff-format

fix: resolve merge conflicts and address review comments
  apps/backend/app.py
  apps/backend/db.py
  apps/backend/middleware.py
  apps/backend/pdl/parser.py
  apps/backend/services/skill_matrix.py
Due: ruff-check, ruff-format

ci: update upload-artifact to v4
  .github/workflows/ci.yml
Due: prettier, check-yaml

chore(ci): install pnpm and update artifact action
  .github/workflows/ci.yml
Due: prettier, check-yaml

ci: update artifact action and install pnpm
  .github/workflows/ci.yml
Due: prettier, check-yaml

ci: install pnpm and run tests if present
  .github/workflows/ci.yml
Due: prettier, check-yaml

chore: install pnpm using setup action
  .github/workflows/ci.yml
Due: prettier, check-yaml

Update ci.yml
  .github/workflows/ci.yml
Due: prettier, check-yaml

Update schemas.py
  apps/backend/schemas.py
Due: ruff-check, ruff-format

Add Cargo.lock for scalable_engine
  scalable_engine/Cargo.lock
Due: none

Update creative_projects.py
  apps/backend/routers/creative_projects.py
Due: ruff-check, ruff-format

Update test_creative_router.py
  test_creative_router.py
Due: ruff-check, ruff-format

Add merge conflict diagnostic script
  merge_conflict_fixer.py
Due: ruff-check, ruff-format

Add backend requirements file
  apps/backend/requirements.txt
Due: none

Update llm_client.py
  apps/backend/services/llm_client.py
Due: ruff-check, ruff-format

Merge branch 'master' of https://github.com/origincreativegroup/MindForge
  apps/backend/services/llm_client.py
Due: ruff-check, ruff-format

test: expand CI workflow for apps
  .github/workflows/ci.yml
Due: prettier, check-yaml

ChatGPT
  .pre-commit-config.yaml
  apps/backend/main.py
  apps/backend/schemas/__init__.py
  apps/backend/schemas/skills.py
  apps/backend/services/__init__.py
Due: ruff-check, ruff-format, prettier, check-yaml

Enable asyncio tests
  apps/backend/pdl/parser.py
  apps/backend/schemas/__init__.py
  apps/backend/services/collaboration.py
  apps/backend/services/models.py
  apps/backend/services/project_questioner.py
  pytest.ini
  test_creative_router.py
Due: ruff-check, ruff-format

Simplify dashboard UI
  apps/frontend/src/App.jsx
  apps/frontend/src/components/BusinessDashboard.css
  apps/frontend/src/components/BusinessDashboard.jsx
Due: eslint, prettier

Unify dashboards into single UI
  apps/frontend/src/App.jsx
  apps/frontend/src/components/BusinessDashboard.css
  apps/frontend/src/components/BusinessDashboard.jsx
  apps/frontend/src/components/CreatorDashboard.jsx
  apps/frontend/src/components/UnifiedDashboard.jsx
Due: eslint, prettier

Simplify dashboard entrypoint
  apps/frontend/src/App.jsx
  apps/frontend/src/components/BusinessDashboard.css
  apps/frontend/src/components/BusinessDashboard.jsx
Due: eslint, prettier

Add Docker compose setup and async test support
  Dockerfile
  README.md
  apps/backend/pdl/parser.py
  docker-compose.yml
  tests/conftest.py
Due: ruff-check, ruff-format, prettier, check-yaml

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md|yml|yaml)$
  check-yaml: any of: \.ya?ml$
